*,*::before,*::after{box-sizing:border-box;-webkit-appearance:none;-moz-appearance:none;-webkit-text-size-adjust:100%;}
*[hidden]{display:none!important;}
a,address,b,blockquote,body,button,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,hr,html,i,input,ins,legend,li,menu,ol,p,td,textarea,th,var,video,ul{margin:0;padding:0;outline:none;text-decoration:none;font-size:1em;font-style:normal;font-weight:inherit;font-family:inherit;text-align:inherit;color:inherit;}
button,fieldset,hr,img,input,textarea{border:none;background-color:transparent;}
button::-moz-focus-inner{border:0;}
footer,header,main{display:block;}
li{list-style:none;}

html{height:100%;-webkit-tap-highlight-color:transparent;}
body{text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;}
body > svg{position:absolute;}
svg,symbol{overflow:visible;fill:currentColor;}
button{overflow:visible;}
button,input,textarea{line-height:inherit;}
b{font-weight:600;}
p,
ul,
ol{margin:1em 0;}
p:first-child,
ul:first-child,
ol:first-child{margin-top:0;}
p:last-child,
ul:last-child,
ol:last-child{margin-bottom:0;}
video,
img{display: block;width:100%;max-width:100%;}
*{transition: 0.3s;}

body {
    font-size: 14px;
    font-family: "Arial, Helvetica, sans-serif";
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.main-wrapper {
    background-color: #f5f5f5;
    padding: 100px 0;
}

.main-wrapper .row {
    padding: 0;
    align-items: flex-start;
}

.title {
    font-size: 38px;
    font-family: 'Montseratt Medium';
    margin-bottom: 42px;
}

.descr {
    color: #787878;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Nunito Sans Regular';
    margin: 0;
    margin-bottom: 36px;
    white-space: pre-line;
}

.location,.tel,.email,.fax {
    font-size: 16px;
    color: #787878;
    line-height: 26px;
    display: block;
}

.location span,.tel span,.email span,.fax span {
    font-family: 'Nunito Sans Bold';
    color: black;
}

.form-order {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 672px;
}

.field:first-child {
    margin-right: 32px;
}

.field {
    width: 320px;
    background-color: white;
    padding: 18px 20px;
    margin-bottom: 30px;
    color: #787878;
    font-size: 15px;
    font-family: 'Nunito Sans Regular';
}

.field-100 {
    width: 100%;
}

.btn-send {
    margin: 0;
    cursor: pointer;
}

.btn {
    padding: 21px 44px;
    background-color: #10c9c3;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Montseratt Medium';
    display: inline-block;
}



.map {
    position: relative;
    width: 100%;
    height: 470px;
    margin-top: 100px;
}

.blackout {
    background-color: #e0e0e0;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}